<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="{{url_for('static', filename='index.js')}}"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='index.css') }}">
    <link rel="icon" type="image" href="{{ url_for('static', filename='stonks.jpg') }}" />

    <title>Market Trader</title>
</head>
<body>   
    <script>
        function showSVG(){            
            document.getElementById('svgContainer').style.display = 'flex'
            document.getElementById('svgContainer').style.flexDirection= 'column'
            document.getElementById('svgContainer').style.alignItems = 'center'
            let temp = document.querySelectorAll('a')
            setTimeout(()=>{    
                temp.forEach(a => a.removeAttribute('href'))
            },300)            
        }        
    </script>
    <div class="container">
        <div class="header1">
            {% for t,p in data %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
            {% for t,p in data %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
        </div>                            
    </div>
    <div class="container2">
        <div class="header1">
            {% for t,p in data2 %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
            {% for t,p in data2 %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
        </div>                            
    </div>
    <div class="container3">
        <div class="header2">
            {% for t,p in data3 %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
            {% for t,p in data3 %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
        </div>                            
    </div>
    <div class="container4">
        <div class="header1">
            {% for t,p in data4 %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
            {% for t,p in data4 %}
            <p style="margin-right: 5px; font-family: Verdana, Geneva, Tahoma, sans-serif;" >{{ t[1] }}</p>            
            <p class="innerHeader {{ 'positive' if p[0] > 0 else 'negative' }}" >({{"+" if p[0] > 0}}{{ p[1] }})</p>
            {% endfor %}
        </div>                            
    </div>
    
    <div class="indexContainer" style="display: flex; flex-direction: column; align-items: center;">
        <div style="display: inline-block;" ></div>
        <h1>Simple Market Trader</h1>        
        <h2>Select stock for demonstration</h2>
        <div>
            <a id="button1" type="button" class="button" href="{{ url_for('stock', data ='JPM') }}" onclick="showSVG()">JPM</a>        
            <a id="button2" type="button" class="button" href="{{ url_for('stock', data ='GOOG') }}" onclick="showSVG()">GOOG</a>
            <a id="button3" type="button" class="button" href="{{ url_for('stock', data ='AAPL') }}" onclick="showSVG()">AAPL</a>
        </div>
        <div id="svgContainer">
            <h3>Loading...</h3>
            <svg id="svg" viewBox="0 0 63.6619772368 63.6619772368">
                <circle class="pie1" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
                <circle class="pie2" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
                <circle class="pie3" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
                <circle class="pie4" cx="31.8309886184" cy="31.8309886184" r="15.9154943092"/>
            </svg>    
        </div>
    </div>
    

    
</body>
</html>